body {
	background-image: url(https://cdn.discordapp.com/attachments/587307618155102257/708653570047868969/30048.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.InteriorLink {
	color: white;
	text-decoration: none;
}

.WebsiteLink {
	width: 50%;
	padding: 1.5%;
	margin-bottom: 0.5%;
	background-color: rgb(67, 73, 161, 0.5);
	transition: background-color border 0.2s ease-in-out;
	border: 3px;
	text-decoration: none;
	text-align: center;
}

.WebsiteLink:hover {
	background-color: rgb(67, 73, 161, 0.7);
	border: 5px;
}


.WebsiteLink:visited {
	color: black;
}

.unavailable {
	cursor: not-allowed;
}

.header {
	color: white;
    font-size: 20px;
	background-color: rgb(35, 35, 35, 0.8);
	padding: 2.5% 0%;
	width: 100%;
	margin-bottom: 3%;
}



.Main_page {
	background-color: rgb(35, 35, 35, 0.8);
	color: white;
	width: 60%;
	margin: 5% 20% 0% 20%;
	display: block;
}

.Websites {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0% 5%;
}

.paragraph {
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    border-radius: 1%;
    box-shadow: 5px;
    margin: 0% 0% 2.5% 0%;
    width: 47.5%;
	background-repeat: no-repeat;
  	background-size: cover;
}
@media screen and (max-device-width: 800px) {
  .paragraph {
    width: 95%;
  }
  .Main_page {
  	width: 80%;
	margin: 5% 10% 0% 10%;
  }
}
@media screen and (max-device-width: 500px) {
  .Main_page {
  	width: 100%;
	margin: 5% 0% 0% 0%;
  }
}

.paragraph_text {
	padding: 0% 5%;
	text-align: left;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(255,255,255,0.9);
	color: black;
}

.paragraph_text p {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	margin: 0px;
	padding: 5% 0%;
}

.paragraph_text h2 {
	margin: 5px;
}

.introduction {
	font-size: 18px;
}


.WebsiteThumbnail {
	width: 100%;
}

